body{
    background-image: url("img/wallpapers.png");
    height: 823px; /
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    text-align: center;
    position: relative;
    top: 20px;
    display: flex;

    margin: 10px 0 0 10px;
    padding-bottom: 1rem; 
   width:1.5em; height:1.5em


  }
  .logo span{
  font-weight: normal;
  padding-left: 50px;
  font-size: 15px;
  font-family: Tahoma, sans-serif;
  color: white;
  position: relative;
  top: -20px;
}

.home span{
  font-weight: normal;
  padding-left: 230px;
  position: relative;
  top: -39px;
  font-size: 15px;
  font-family: Tahoma, sans-serif;
  color: white;
}
.join span{
  font-weight: normal;
  padding-left: 400px;
  position: relative;
  top: -60px;
  font-size: 15px;
  font-family: Tahoma, sans-serif;
  color: white;
}
.start span{
  font-weight: normal;
  padding-left: 48px;
  position: relative;
  top: 80px;
  font-size: 13px;
  font-family: Tahoma, sans-serif;
  color: white;


}
h2{
  font-weight: normal;
  padding-left: 41px;
  position: relative;
  top: 50px;
  font-size: 50px;
  font-family: Tahoma, sans-serif;
  color: white;
}
.Al span{
  font-weight: normal;
  padding-left: 50px;
  position: relative;
  top: 20px;
  font-size: 13px;
  font-family: Tahoma, sans-serif;
  color: white;
}
 a{
  font-weight: normal;
  padding-left: -5px;
  position: relative;
  bottom:-1px;
  font-size: 10px;
  font-family: Tahoma, sans-serif;
  color: blue;

}
.log span{
  font-weight: normal;
  padding-left: 170px;
  position: relative;
  top: 2px;
  font-size: 13px;
  font-family: Tahoma, sans-serif;
  color: #088F8F;
}



.first input {
  background: gray;
  border: none;
  position: relative;
  display: block;
  outline: none;
  
  width: 190px;
  height: 40px;
  top: 40px;
  left: -550px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }



.last input {
  background: gray;
  border: none;
  position: relative;
  display: block;
  outline: none;
  
  width: 190px;
  height: 40px;
  top: -69px;
  left: -310px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

.email input {
  background: gray;
  border: none;
  position: relative;
  display: block;
  outline: none;
  
  width: 430px;
  height: 40px;
  top: -100px;
  left: -430px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

.pass input {
  background: gray;
  border: none;
  position: relative;
  display: block;
  outline: none;
  
  width: 430px;
  height: 40px;
  top: -130px;
  left: -430px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }


#button1{
width: 210px;
height: 60px;
position: relative;
left: 52px;
bottom: 160px;
border-radius: 30px;
border: none;
font-size: 16px;
font-family: Tahoma, sans-serif;
background: gray;
color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

}
#button1:hover {background-color: #088F8F;}

#button1:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#butn{
    margin: 0 auto;
    display: block;
}

#button2{
width: 210px;
height: 60px;
position: relative;
left: 60px;
bottom: 160px;
border: none;
border-radius: 30px;
background-color: #088F8F;
font-size: 16px;
font-family: Tahoma, sans-serif;



}

#button2:hover {background-color: #088F8F;}

#button2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.first img{
    text-align: center;
    position: relative;
    top: -14px;
    left: 220px;
   
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 1rem; 
   width:1.5em; height:1.5em



}
.last img{
     text-align: center;
    position: relative;
    top: -120px;
    left: 460px;
   
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 1rem; 
   width:1.5em; height:1.5em

}
.email img{
     text-align: center;
    position: relative;
    top: -150px;
    left: 460px;
   /*background-color: white;*/
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 1rem; 
   width:1.5em; height:1.5em


}
.pass img{
    text-align: center;
    position: relative;
    top: -180px;
    left: 460px;
   /*background-color: white;*/
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 1rem; 
   width:1.5em; height:1.5em


}
}

